@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

body {
    background-image: url(../imgs/greenhouse.jpg);
    background-color: rgba(0, 0, 0, 0.822);
    background-blend-mode: multiply;
    margin: 0;
}

#hero {
    background-image: url("../imgs/hero-img.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: multiply;
    padding: 50px 20px;
    box-shadow: 0 0 16px rgb(0, 0, 0);
}

#hero h1 {
    font-size: 50px;
    margin: 5px 0;
}

#hero #title_card {
    margin-bottom: 40px;
}

#hero #title_card p {
    margin-top: 0px;
}

#hero p, #hero button {
    margin-left: 8px;
}

.btn_div {
    display: flex;
    justify-content: center;
}

#hero button {
    margin-top: 30px;
}

button {
    background-color: green;
    border: 4px solid green;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: white;
    color: green;
}

#main {
    padding: 0;
}

h2 {
    font-size: 32px;
    font-family: 'Crete Round', sans-serif;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 30px;
}

li {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}

section {
    padding: 50px 33px;
    box-shadow: 0 0 100px rgb(13, 26, 14);
}

section:nth-child(odd) {
    background-color: rgb(49, 82, 52);
}

section:nth-child(2n) {
    background-color: rgb(53, 73, 54);
}

.four_list {
    padding-left: 0;
}

.four_list li {
    list-style-type: none;
    background-color: rgba(26, 49, 40, 0.95);
    border-radius: 8px;
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.15s ease;
    border: 3px solid white;
}

.four_list li:hover {
    transform: scale(1.033);
    box-shadow: 0 0 12px rgb(163, 255, 186);
}

#footer {
    background-color: rgb(22, 16, 16);
    text-align: center;
    padding: 33px;
    box-shadow: 0 0 8px black;
}

#footer img {
    width: 40px;
}

section:last-of-type button {
    margin: 20px 0;
    font-size: 18px;
    background-color: green;
    border-radius: 5px;
}

section:last-of-type button:hover {
    background-color: white;
    color :green;
}





@media screen and (min-width: 768px) {
    #hero {
        padding: 200px 100px;
    }
    #hero h1 {
        font-size: 80px;
    }
    #main {
        /* padding: 25px 100px; */
    }
    section {
        padding-left: 75px;
        padding-right: 75px;
    }
    .four_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        padding-left: 0;
    }
    .four_list li {
        flex-wrap: nowrap;
        column-gap: 25px;
        /* padding: 20px; */
    }
}

@media screen and (min-width: 1150px) {
    
} 

@media screen and (min-width: 1500px) {
    #hero {
        padding-left: 210px;
        padding-right: 210px;
        
    }
    section {
        margin: 0 200px;
    }
    .center_text {
        /* text-align: center; */
    }
    .side_by_side {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .side_by_side section {
        margin: 0;
    }
    .side_by_side section:nth-child(1) {
        margin-right: 0;
    }
    .side_by_side section:nth-child(2) {
        margin-left: 0;
    }
    .side_by_side section{
        margin: 0px;
    }
    .side_by_side section:nth-child(1) {
        margin-right: 0;
        margin-left: 200px;
    }
    .side_by_side section:nth-child(2) {
        margin-right: 200px;
        margin-left: 0;
    }
}