@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat'
}

body {
    margin: 0;
}

#hero {
    background-color: aquamarine;
    padding: 25px;
}

/* #header_title {
    margin: 0;
} */

#main {
    padding: 0 25px;
}

h2 {
    margin-top: 40px;
}

li {

}