@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: rgb(47, 87, 50);
    margin: 0;
}

#hero {
    background-image: url("../imgs/hero-img.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: multiply;
    padding: 33px;
    box-shadow: 0 0 8px black;
}

#hero h1 {
    font-size: 42px;
    margin-bottom: 5px;
}

#hero #title_card {
    margin-bottom: 40px;
}

#hero #title_card p {
    margin-top: 0px;
}

#hero p, #hero button {
    margin-left: 8px;
}

#hero button {
    background-color: green;
    border: 3px solid green;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px;
    padding: 12px 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

#hero button:hover {
    background-color: white;
    color: green;
}

/* #header_title {
    margin: 0;
} */

#main {
    padding: 0 33px;
}

h2 {
    text-align: center;
    font-style: italic;
    margin-top: 40px;
}

p {
    line-height: 25px;
}

li {
    line-height: 30px;
}

#footer {
    background-color: aquamarine;
    text-align: center;
    padding: 33px;
    box-shadow: 0 0 8px black;
}

@media screen and (min-width: 768px) {
    #hero {
        padding: 100px;
    }
    #hero h1 {
        font-size: 80px;
    }
    #main {
        padding: 25px 100px;
    }
}