@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

body {
    background-image: url(../imgs/greenhouse.jpg);
    background-color: rgba(0, 0, 0, 0.822);
    background-blend-mode: multiply;
    margin: 0;
}

#hero {
    background-image: url("../imgs/hero-img.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: multiply;
    padding: 33px;
    box-shadow: 0 0 8px black;
}

#hero h1 {
    font-size: 42px;
    margin: 5px 0;
}

#hero #title_card {
    margin-bottom: 40px;
}

#hero #title_card p {
    margin-top: 0px;
}

#hero p, #hero button {
    margin-left: 8px;
}

#hero button {
    background-color: green;
    border: 3px solid green;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px;
    padding: 12px 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

#hero button:hover {
    background-color: white;
    color: green;
}

/* #header_title {
    margin: 0;
} */

#main {
    padding: 0;
}

h2 {
    font-family: 'Crete Round', sans-serif;
    text-align: center;
    /* margin-top: 40px; */
}

p {
    line-height: 25px;
}

li {
    line-height: 30px;
}

section {
    padding: 33px;
    box-shadow: 0 0 8px black;
}

section:nth-child(odd) {
    background-color: rgb(49, 82, 52);
}

section:nth-child(2n) {
    background-color: rgb(53, 73, 54);
    color: rgb(58, 134, 75);
}

.four_list {
    padding-left: 0;
}
.four_list li {
    list-style-type: none;
    background-color: rgba(51, 37, 37, 0.95);
    border-radius: 8px;
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


#footer {
    background-color: rgb(22, 16, 16);
    text-align: center;
    padding: 33px;
    box-shadow: 0 0 8px black;
}

@media screen and (min-width: 768px) {
    #hero {
        padding: 100px;
    }
    #hero h1 {
        font-size: 80px;
    }
    #main {
        /* padding: 25px 100px; */
    }
    .four_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding-left: 0;
    }
    .four_list li {
        flex-wrap: nowrap;
        column-gap: 25px;
        /* padding: 20px; */
    }
    .side_by_side {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .side_by_side section {
        margin: 0;
    }
}

@media screen and (min-width: 1150px) {
    .side_by_side section:nth-child(1) {

        margin-right: 0;
    }
    .side_by_side section:nth-child(2) {
        margin-left: 0;
    }
    .side_by_side section{
        margin: 0px;
    }
} 

@media screen and (min-width: 1500px) {
    #hero {
        text-align: center;
    }
    section {
        margin: 0 200px;
    }
    #btn_div {
        display: flex;
        justify-content: center;
    }
    .center_text {
        text-align: center;
    }
    .side_by_side section:nth-child(1) {
        margin-right: 0;
        margin-left: 200px;
    }
    .side_by_side section:nth-child(2) {
        margin-right: 200px;
        margin-left: 0;
    }
}